:root {
        --bg: #101512;    
        --red: #ef5350;
        --green: #00d90e;
}

[data-theme="light"] {
        --bg: #ffff;
        --red: #fe2525;
        --green: #00d90e;
}

[data-theme="dark"] {
        --bg: #101512;    
        --red: #ef5350;
        --green: #00d90e;
}

* {
        padding: 0;
        margin: 0;
        /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* font-family:cursive; */
}

body {
        height: 100vh;
        padding: 0 32px;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        background-color: var(--bg);
}

h1 {
        font-weight: 900;
        font-size: 40px;
}

/* .countdown-label {
        padding: 8px 4px;
        border-radius: 4px;
} */

.countdown-label__p {
        font-weight: 900;
}

.countdown-timer {
        display: flex;
        gap: 8px;
}

.green {
        color: var(--green);
        /* background: linear-gradient(
                180deg, 
                #fff 1%, 
                var(--green) 50%,
                var(--green) 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent; */
}

.red {
        color: var(--red);
}

.bg-green {
        background-color: var(--green);
}

.bg-red {
        background-color: var(--red);
}

.snow-buildup {
        text-shadow:
                0 -1px 0 #fff,
                0 -2px 0 #fff,
                0 -3px 6px rgba(255, 255, 255, 0.8)
        ;
}

@media (min-width: 500px) {
        body {
                justify-content: center;
        }

        .container {
                width: 600px;
        }

        h1 {
                font-size: 64px;
        }

        .countdown-label__p {
                font-size: 26px;
        }
}